:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-light-blue-main: #eef5ff;
  --color-gray-main: #f7f8fa;
  --color-cyan-main: #37c0e5;

  --color-text-gray: #5d6588;
  --color-text-main: #000e4b;

  --font-family-inter: "Inter", sans-serif;
}
