<div *ngIf="step$ | async as step" class="setup-dialog">
  <div class="setup-dialog__content">
    <app-step-bar [currentStep]="step"></app-step-bar>

    <app-first-step *ngIf="step === 1"></app-first-step>

    <div *ngIf="step > 1">
      <app-area-life></app-area-life>
    </div>
  </div>

  <footer class="setup-dialog__footer">
    <button app-button (click)="prevStep()" [disabled]="step === 1">
      Prev Step
    </button>
    <button app-button (click)="nextStep()" [disabled]="step === 9">
      Next Step
    </button>
  </footer>
</div>
