<div *ngIf="step$ | async as step" class="setup-dialog">
  <div class="setup-dialog__content">
    <app-step-bar [currentStep]="step"></app-step-bar>

    <app-first-step *ngIf="step === 1"></app-first-step>

    <div *ngIf="step > 1 && step < 10">
      <app-area-life [step]="step" [areasData]="areas$ | async"></app-area-life>
    </div>

    <app-last-step *ngIf="step === 10"></app-last-step>
  </div>

  <footer class="setup-dialog__footer">
    <ng-container *ngIf="step !== 10">
      <button app-button (click)="prevStep()" [disabled]="step === 1">
        Prev Step
      </button>
      <button app-button (click)="nextStep()">Next Step</button>
    </ng-container>

    <button *ngIf="step === 10" app-button (click)="save()">Save</button>
  </footer>
</div>
