@import "../../../../styles/mixins/bootstrap";

.dialog {
  $root: &;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000;

  overflow: auto;

  &__close {
    position: absolute;
    top: 17px;
    right: 14px;

    width: 14px;
    height: 14px;

    background-image: url("/assets/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__body {
    position: relative;

    min-height: 100%;
    padding: 20px 15px;

    background-color: var(--color-light-blue-main);

    @include media-breakpoint-up(md) {
      margin: 60px 40px;
      padding: 70px 54px 50px;

      background-color: var(--color-light-blue-main);
      border-radius: 10px;
    }

    @include media-breakpoint-up(mx) {
      width: auto;
      min-height: 70%;
      margin: 90px 15%;
      padding: 62px 50px;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.45);

    z-index: 900;
  }
}
