<main class="homepage">
  <h1 class="homepage__title">Колесо Баланса</h1>

  <h2 class="homepage__subtitle">
    Узнайте, где вы находитесь и где вы хотите быть.
  </h2>

  <div class="chart-container">
    <canvas id="chart"></canvas>
  </div>

  <div class="chart" id="container"></div>

  <div *ngIf="!isLoading" class="legend">
    <ul class="legend__list">
      <li *ngFor="let item of areas.areas" class="legend__item">
        <p class="legend__title">{{ item.title }}</p>
        <div class="legend__color" [style.background-color]="item.color"></div>
      </li>
    </ul>
  </div>

  <button app-button type="button" size="full" (click)="openWheelSetup()">
    Настроить колесо
  </button>
</main>
