@import "../../../styles/mixins/bootstrap";

.homepage {
  position: relative;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 68px auto;
  height: 100%;
  padding: 20px 15px;

  background-color: var(--color-light-blue-main);

  &__reset {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 14px;
    height: 14px;

    background-image: url("/assets/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    text-align: center;
  }

  &__section {
    height: 100%;

    @include media-breakpoint-up(mx) {
      display: grid;
      grid-template-columns: 75% 25%;
    }
  }

  &__chart {
    width: 100%;
    margin: 40px 0;

    @include media-breakpoint-up(mx) {
      max-height: 80vh;

      canvas {
        margin: 0 auto;
      }
    }
  }

  &__settings {
    display: flex;
    flex-direction: column;
  }

  &__legend {
    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-up(mx) {
      margin-bottom: auto;
    }
  }
}

.legend {
  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, calc(50% - 5px));

    @include media-breakpoint-up(mx) {
      margin-top: 68px;
      grid-template-columns: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    display: flex;
    align-items: center;
    width: 75%;
  }

  &__title {
    margin-right: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__color {
    width: 30px;
    height: 30px;

    border-radius: 50%;
  }
}
