<main class="homepage">
  <button type="button" class="homepage__reset" (click)="reset()"></button>
  <section class="homepage__section">
    <div class="homepage__body">
      <header class="homepage__header">
        <h1 class="homepage__title">Колесо Баланса</h1>

        <h2 class="homepage__subtitle">
          Узнайте, где вы находитесь и где вы хотите быть.
        </h2>
      </header>

      <div class="homepage__chart">
        <canvas id="chart"></canvas>
      </div>
    </div>

    <div class="homepage__settings">
      <div *ngIf="!isLoading" class="homepage__legend legend">
        <ul class="legend__list">
          <li
            *ngFor="let item of areas.areas"
            (click)="openAreaEditDialog(item.id)"
            class="legend__item"
          >
            <div class="legend__text">
              <p class="legend__title">{{ item.title }}:</p>
              <span>{{ item.point }}</span>
            </div>

            <div
              class="legend__color"
              [style.background-color]="item.color"
            ></div>
          </li>
        </ul>
      </div>

      <button
        app-button
        type="button"
        size="full"
        (click)="openWheelSetupDialog()"
      >
        Настроить колесо
      </button>
    </div>
  </section>
</main>
