@import "../../../../../styles/mixins/typo";

:host {
  display: block;
  max-width: 100%;

  .number-field {
    position: relative;
    margin-top: 14px;

    &.--transparent {
      background-color: transparent;

      .text-field__input {
        color: var(--color-text-main);

        &::placeholder {
          color: var(--color-text-main);
        }
      }
    }

    &__inner {
      display: flex;
      align-items: center;
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 0 5px;

      background-color: var(--color-gray-main);
      border: 1px solid var(--color-cyan-main);
      border-radius: 6px;

      @include typo--regular-12;
      text-align: center;
      color: var(--color-text-main);

      &::placeholder {
        color: var(--color-text-main);
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      @include typo--regular-12;

      background-color: var(--color-gray-main);
      border: 1px solid var(--color-cyan-main);
      border-radius: 6px;
    }
  }
}
