@import "../../../../../styles/mixins/typo";

:host {
  display: block;
  max-width: 100%;

  .number-field {
    position: relative;
    margin-top: 14px;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__label {
      margin-bottom: 6px;

      @include typo--regular-12;
      color: var(--color-text-main);
    }

    &__body {
      display: flex;
      align-items: center;
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0 8px;

      background-color: var(--color-gray-main);
      border: 1px solid var(--color-cyan-main);
      border-radius: 6px;

      @include typo--regular-15;
      text-align: center;
      color: var(--color-text-main);

      &::placeholder {
        color: var(--color-text-main);
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      @include typo--regular-15;

      background-color: var(--color-gray-main);
      border: 1px solid var(--color-cyan-main);
      border-radius: 6px;
    }
  }
}
